section
	h2 Agriculture
	center
		img(width='900' height='583' src='img/Terrace_field_yunnan.jpg' alt='Agriculture' style='vertical-align: middle')
	div.slidenumber

section(data-state='agriculture')
	h2 Agriculture Shares
	br
	//-http://stackoverflow.com/questions/18772547/how-to-make-the-chart-js-animate-when-scrolled-to-that-section
	//-http://stackoverflow.com/questions/16590301/how-to-add-labels-into-chart-js-canvas-plugin
	center
		table
			tr
				td GDP: 10%
				td Labor Force: 35%
			tr
				td
					canvas#canvas(width='450' height='450')
				td
					canvas#canvas2(width='450' height='450')
	div.slidenumber
	//-script(src='js/Chart.js')

//-section
//-	h2 Doughnut Chart SVG
//-	br
	//-http://jsfiddle.net/gregfedorov/Qh9X5/9/
	//-http://bl.ocks.org/mbostock/3887193
	//-http://nvd3.org/ghpages/pie.html
	//-http://blog.stephenboak.com/2011/08/07/easy-as-a-pie.html
	//-http://jsfiddle.net/MX7JC/9/
	//-http://bl.ocks.org/Guerino1/2295263
	//-http://jsfiddle.net/nrabinowitz/GQDUS/
	//-div#doughnut(color='white', background-color='white', fill='white', stroke='orange')
//-	div#doughnut
//-	script(src='js/d3.v3.js')
//-	script(src='js/don.js')
//-	script(type='text/javascript').
//-		doughnutD3();
//-	div.slidenumber

//-section
//-	h2 Doughnut Chart (Cont.)
//-	br
	//-http://stackoverflow.com/questions/16590301/how-to-add-labels-into-chart-js-canvas-plugin
//-	canvas#canvas3(width='450' height='450')
//-	canvas#canvas4(width='450' height='450')
//-	script(src='js/Chart.js')
//-	script(type='text/javascript').
//-		agriculcutureDoughnut2();
//-	div.slidenumber
