section#appendix
	h1 Appendix
	div.slidenumber
//-	br
//-	ul
//-		li 
//-	div.slidenumber

//-section
//-	h2 Management Team
//-	br
//-	ul
//-		li Xi
//-		li Li
//-	div.slidenumber

section
	h2 Timeline
	div.contianer
		div.two-left
			ul
				li 1953 Five Year Plan
				li 1958 Great Leap Forward
				li 1966 Cultural Revolution
				li 1978 Chinese economic reforms
				li 1979 One-child policy
				li 1980 Special Economic Zones
				li 1989 Tiananmen Square protests
				li 1994 Tax-sharing reform
		div.two-right
			ul
				li 1997 Hong Kong handover
				li 1998 Great Firewall of China
				li 1999 Macau handover
				li 2001 Accession to World Trade Organization
				li 2003 SARS outbreak
				li 2006 Structural work finished in the Three Gorges Dam
				li 2008 Four Trillion Yuan
				li 2013 Shanghai Free Trade Zone
	div.slidenumber

section
	h2(style='font-size:72px;') China Monthly Minimum Wage Allocation Map
	img(width='800' height='531' src='img/ChinaMinimumWage_800x531.png' alt='Kenichi Ohmae' style='vertical-align: middle')
	//-img(width='800' height='531' src='img/ChinaMinimumWage_800x531.png' alt='Kenichi Ohmae' style='vertical-align: middle' class='fragment roll-in' data-fragment-index='1')
	div.source Source: CEIC, J.P. Morgan
	div.slidenumber

section
	//-h2 Top 100 Small and Medium-sized Cities in China in 2013
	h2 Top 50 Small and Medium-sized Cities in China in 2013
	center
	table(style='width:880px; margin: 10px auto;')
		tr(style='font-size:24px;')
			td 1
			td 江蘇崑山市
			td 11
			td 浙江義烏市
			td 21
			td 福建石獅市
			td 31
			td 福建福清市
			td 41
			td 山東新泰市
		tr(style='font-size:24px;')
			td 2
			td 江蘇江陰市
			td 12
			td 浙江餘姚市
			td 22
			td 浙江樂清市
			td 32
			td 遼寧莊河市
			td 42
			td 浙江德清縣
		tr(style='font-size:24px;')
			td 3 
			td(style='font-size:22px;') 江蘇張家港市
			td 13
			td 廣東增城市
			td 23
			td 江蘇丹陽市
			td 33
			td 江蘇海安縣
			td 43
			td 浙江溫嶺市
		tr(style='font-size:24px;')
			td 4
			td 江蘇太倉市
			td 14
			td 山東龍口市
			td 24
			td 浙江富陽市
			td 34
			td 福建南安市
			td 44
			td 江蘇啟東市
		tr(style='font-size:24px;')
			td 5
			td 浙江慈溪市
			td 15
			td(style='font-size:20px;') 內蒙古准格爾旗
			td 25
			td 浙江瑞安市
			td 35
			td 山東萊西市
			td 45
			td 浙江長興縣
		tr(style='font-size:24px;')
			td 6
			td 江蘇宜興市
			td 16
			td 山東榮成市
			td 26
			td 江蘇揚中市
			td 36
			td 福建惠安縣
			td 46
			td 四川郫縣
		tr(style='font-size:24px;')
			td 7
			td 福建晉江市
			td 17
			td 山東鄒平縣
			td 27
			td 浙江海寧市
			td 37
			td 山東萊州市
			td 47
			td 河南義馬市
		tr(style='font-size:24px;')
			td 8
			td 湖南長沙縣
			td 18
			td 浙江諸暨市
			td 28
			td 山東壽光市
			td 38
			td(style='font-size:22px;') 黑龍江肇東市
			td 48
			td 山東肥城市
		tr(style='font-size:24px;')
			td 9
			td 四川雙流縣
			td 19
			td 河北遷安市
			td 29
			td 山東滕州市
			td 39
			td 山東招遠市
			td 49
			td 河南新鄭市
		tr(style='font-size:24px;')
			td 10
			td 遼寧海城市
			td 20
			td(style='font-size:22px;') 遼寧瓦房店市
			td 30
			td 浙江玉環縣
			td 40
			td 江蘇如皋市
			td 50
			td(style='font-size:22px;') 遼寧大石橋市
	div.source Source: Chinese Academy of Social Sciences
	div.slidenumber

//-section
//-	h2 Risk
//-	ul
//-		li 
//-	div.slidenumber

//-section
//-	h2 Shadow Banking
//-	ul
//-		li The financial intermediaries involved in facilitating the creation 
//-			of credit across the global financial system, but whose members are 
//-			not subject to regulatory oversight.
//-		li The shadow banking system also refers to unregulated activities by regulated institutions.
//-	div.slidenumber

section
	h2(style='font-size:52px;') China finance reform: Within the web plan of China, Capital Account Liberalization is the phase goal for China now
	ul
		li Interest rate Liberalization, exchange rate reforms, CNY Internationalization, Capital account Liberalization are mutually interacted.
		li We deem capital account liberalization is the main step for China to become superpower in the global financial market.
	img(width='850' height='358' src='img/finance_reform_850x358.png' alt='Finance Reform')
	div.slidenumber

section
	h2(style='font-size:52px;') Capital account Open: quota restriction is the tool that central bank use to maintain its policy independence
	ul
		li(style='font-size:28px;') Currency exchange reform will start from non-reserve currency to maintain central bank's monetary independence.
		li(style='font-size:28px;') When oversea money flowing, China government will direct the flow into real economy first then set up quota for financial market.
	img(width='795' height='418' src='img/capital_account_795x418.png' alt='Capital Account')
	div.slidenumber

section
	h2 Yearly approved amount of QFII and QDII are controlled
	ul
		li As more QFII, QDII quota are approved, the gap between QFII and QDII is still maintained to 40 billion USD for 5 years.
	img(width='850' height='442' src='img/yearly_approved_850x442.png' alt='Yearly Approved')
	div.slidenumber

section
	h2(style='font-size:52px;') Foreign investment quota (QFII) take 1.5% of the market value in stock and bond market
	ul
		li In the last 5 years, the bond and stock market size almost double.
		li Even the market size increase, QFII still takes around 1.5% of stock market value.
	img(width='850' height='325' src='img/QFII_850x325.png' alt='QFII')
	div.slidenumber

section
	h2(style='font-size:52px;') QFII keeps net inflow surged in 2012 and is mainly allocated to stock market
	ul
		li QFII quota inflow surged in 2012 with 9.2 Billion and accumulated to 24.1 Billion by 2012.
		li Currently, QFII quote is mainly allocated in stock (74%)and bond (14%) since interbank market has not fully opened yet.
	img(width='850' height='286' src='img/QFII_quota_850x286.png' alt='QFII Quota')
	div.slidenumber

section
	h2 Supply in stock and bond market will keep strong growth
	ul
		li Bond market:
		ul
			li Local government bond takes 1/6 of total bond market size.
			li overnment planned to increase 30 trillion in total for local government by 2020. (average 4.5 trillion/year)
		li Stock market:
		ul
			li Only considering IPO case, 100 companies was approved now. 760 companies is expected to launch IPO in 2014 and raise funding to 250 billion RMB.
			li However, only counting into stock refinance, the amount in 2012 is 300 billion RMB.
	div.slidenumber

section
	h2 利率市場化帶來的影響
	ul
		li 各國利率市場化後的情況
		ul
			li 短期存款利率上升：參考美、台、韓、港的改革經驗，利率市場化後的第1年後，存款利率攀升。
			li 利率市場化導致息差下降：參考台、日、韓的改革經驗，利率市場化後的1-3年後，存貸息差普遍下降。
		li 金融機構可能產生偏好改變
		ul
			li 短期內，銀行間競爭加劇，風險偏好上升，使金融機構投資相對高風險高受益的產品。
	img(width='900', height='258', src='img/interest_variation.png', alt='利率市場化帶來的影響', style='vertical-align: middle')
	div.slidenumber

section
	h2 開放利率市場化的前置準備
	br
	ul
		li 需要平穩的總經環境
		ul
			li 如果總體經濟處於過熱時期，放開受管制利率會加速上升，高利率將使得資金配置到高風險專案，產生資產泡沫。
		li 資本帳戶開放需謹慎：如果提前或同步放開資本帳，則
		ol
			li 國際投機資本恐因套利而流入。
			li 國內借款人為節省成本而改借外債，加劇金融市場的波動性。
		li 完善配套措施
		ul
			li 利率市場化後的同業競爭過程中，可能會出現有少數經營不善、甚至還需要退出市場的金融機構。
			li 建立合理的存款保險制度是保證金融安全的重要制度保障。
	div.slidenumber

section
	h2 雲滇金改區:從跨季人民幣結算起步,發展金融機構相互投資機會
	ul
		li 《雲南省 廣西壯族自治區建設沿邊金融綜合改革試驗區總體方案》
		ul
			li 人民幣業務創新:實施跨境人民幣雙向貸款業務、人民幣特許兌換業務、人民幣現鈔出入境管理
			li 跨境合作:跨境征信合作、跨境支付清算管理
		li 影響:貿易流通性提升、跨境金融投資
		ul
			li 對內:吸引意圖投資東盟和南亞市場的基金公司進入雲南
			li 對外:允許東盟和南亞國家金融機構至試驗區設立外資金融分支機搆
	div.slidenumber

section
	h2 新疆:能源交易
	ul
		li 全長2800公里的中哈石油管道自06年正式開通以來,已成為中國同裡海相連的能源大動脈,哈薩克已經累計向中國輸送原油5000多萬噸
		li 中國—中亞天然氣管道年設計輸氣量為300億—400億立方米,自2009年底到2013年,已累計向中國輸送天然氣600多億立方米,相當於中國2010年天然氣總產量的一半。
	div.slidenumber

//-section
//-	h2 三中全會-具體事務規劃1
//-	ul
//-		li 
//-	div.slidenumber

//-section
//-	h2 三中全會-具體事務規劃2
//-	ul
//-		li 
//-	div.slidenumber
