section#appendix
	h1 Appendix
	br
	ul
		li 
	div.slidenumber

section
	h2 Management Team
	br
	ul
		li Xi
		li Li
	div.slidenumber

section
	h2 Timeline
	br
	div.slidenumber

section
	h2 Risk
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Shadow Banking
	br
	ul
		li The financial intermediaries involved in facilitating the creation 
			of credit across the global financial system, but whose members are 
			not subject to regulatory oversight.
		li The shadow banking system also refers to unregulated activities by regulated institutions.
	div.slidenumber

section
	h2 China finance reform: Within the web plan of China, Capital Account Liberalization is the phase goal for China now
	ul
		li Interest rate Liberalization, exchange rate reforms, CNY Internationalization, Capital account Liberalization are mutually interacted.
		li We deem capital account liberalization is the main step for China to become superpower in the global financial market.
	div.slidenumber

section
	h2 Capital account Open: quota restriction is the tool that central bank use to maintain its policy independence
	ul
		li Currency exchange reform will start from non-reserve currency to maintain central bank's monetary independence.
		li When oversea money flowing, China government will direct the flow into real economy first then set up quota for financial market.
	div.slidenumber

section
	h2 Yearly approved amount of QFII and QDII are controlled
	ul
		li As more QFII, QDII quota are approved, the gap between QFII and QDII is still maintained to 40 billion USD for 5 years.
	div.slidenumber

section
	h2 Foreign investment quota (QFII) take 1.5% of the market value in stock and bond market
	ul
		li In the last 5 years, the bond and stock market size almost double.
		li Even the market size increase, QFII still takes around 1.5% of stock market value.
	div.slidenumber

section
	h2 QFII keeps net inflow surged in 2012 and is mainly allocated to stock market
	ul
		li QFII quota inflow surged in 2012 with 9.2 Billion and accumulated to 24.1 Billion by 2012.
		li Currently, QFII quote is mainly allocated in stock (74%)and bond (14%) since interbank market has not fully opened yet.
	div.slidenumber

section
	h2 Supply in stock and bond market will keep strong growth
	ul
		li Bond market:
		ul
			li Local government bond takes 1/6 of total bond market size.
			li overnment planned to increase 30 trillion in total for local government by 2020. (average 4.5 trillion/year)
		li Stock market:
		ul
			li Only considering IPO case, 100 companies was approved now. 760 companies is expected to launch IPO in 2014 and raise funding to 250 billion RMB.
			li However, only counting into stock refinance, the amount in 2012 is 300 billion RMB.
	div.slidenumber

section
	h2 利率市場化帶來的影響
	ul
		li 各國利率市場化後的情況
		ul
			li 短期存款利率上升：參考美、台、韓、港的改革經驗，利率市場化後的第1年後，存款利率攀升。
			li 利率市場化導致息差下降：參考台、日、韓的改革經驗，利率市場化後的1-3年後，存貸息差普遍下降。
		li 金融機構可能產生偏好改變
		ul
			li 短期內，銀行間競爭加劇，風險偏好上升，使金融機構投資相對高風險高受益的產品。
	img(width='900', height='258', src='img/interest_variation.png', alt='利率市場化帶來的影響', style='vertical-align: middle')
	div.slidenumber

section
	h2 開放利率市場化的前置準備
	br
	ul
		li 需要平穩的總經環境
		ul
			li 如果總體經濟處於過熱時期，放開受管制利率會加速上升，高利率將使得資金配置到高風險專案，產生資產泡沫。
		li 資本帳戶開放需謹慎：如果提前或同步放開資本帳，則
		ol
			li 國際投機資本恐因套利而流入。
			li 國內借款人為節省成本而改借外債，加劇金融市場的波動性。
		li 完善配套措施
		ul
			li 利率市場化後的同業競爭過程中，可能會出現有少數經營不善、甚至還需要退出市場的金融機構。
			li 建立合理的存款保險制度是保證金融安全的重要制度保障。
	div.slidenumber

section
	h2 雲滇金改區:從跨季人民幣結算起步,發展金融機構相互投資機會
	ul
		li 《雲南省 廣西壯族自治區建設沿邊金融綜合改革試驗區總體方案》
		ul
			li 人民幣業務創新:實施跨境人民幣雙向貸款業務、人民幣特許兌換業務、人民幣現鈔出入境管理
			li 跨境合作:跨境征信合作、跨境支付清算管理
		li 影響:貿易流通性提升、跨境金融投資
		ul
			li 對內:吸引意圖投資東盟和南亞市場的基金公司進入雲南
			li 對外:允許東盟和南亞國家金融機構至試驗區設立外資金融分支機搆
	div.slidenumber

section
	h2 公路建設
	ul
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 新疆:能源交易
	ul
		li 全長2800公里的中哈石油管道自06年正式開通以來,已成為中國同裡海相連的能源大動脈,哈薩克已經累計向中國輸送原油5000多萬噸
		li 中國—中亞天然氣管道年設計輸氣量為300億—400億立方米,自2009年底到2013年,已累計向中國輸送天然氣600多億立方米,相當於中國2010年天然氣總產量的一半。
	div.slidenumber

section
	h2 三中全會-具體事務規劃1
	ul
		li 
	div.slidenumber

section
	h2 三中全會-具體事務規劃2
	ul
		li 
	div.slidenumber
