section
	h2 Appendix
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Management Team
	br
	ul
		li Xi
		li Li
	div.slidenumber

section
	h2 Timeline
	br
	div.slidenumber

section
	h2 Risk
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Shadow Banking
	br
	ul
		li The financial intermediaries involved in facilitating the creation 
			of credit across the global financial system, but whose members are 
			not subject to regulatory oversight.
		li The shadow banking system also refers to unregulated activities by regulated institutions.
	div.slidenumber
