section
	h2 Appendix
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Management Team
	br
	ul
		li Xi
		li Li
	div.slidenumber

section
	h2 Timeline
	br
	div.slidenumber

section
	h2 Risk
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Shadow Banking
	br
	ul
		li The financial intermediaries involved in facilitating the creation 
			of credit across the global financial system, but whose members are 
			not subject to regulatory oversight.
		li The shadow banking system also refers to unregulated activities by regulated institutions.
	div.slidenumber

section
	h2 China finance reform: Within the web plan of China, Capital Account Liberalization is the phase goal for China now
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 Capital account Open: quota restriction is the tool that central bank use to maintain its policy independence
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 Yearly approved amount of QFII and QDII are controlled
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 QFII keeps net inflow surged in 2012 and is mainly allocated to stock market
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 Foreign investment quota (QFII) take 1.5% of the market value in stock and bond market
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 Supply in stock and bond market will keep strong growth
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 利率市場化帶來的影響
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 【補充】全面開放利率市場化的重要前置準備
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 [补充]雲滇金改区：从跨季人民幣結算起步，发展金融机构相互投资机会
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 「补充」公路建设
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber

section
	h2 「补充」新疆：能源交易
	br
		li 
		ul
			li 
			li 
		li 
	div.slidenumber
