section
	h1 Challenges
	div.slidenumber

section(data-state='china_economy')
	h2 China's Economic Achievements
	div.contianer
		div.two-left
			div.two-upper
				ul
					li Railway Cargo Volume (BN Tonnes)
				canvas#chart_cargo(width='400' height='260')
				//-canvas#chart_local_finance(width='850' height='530')
			div.two-lower
				ul
					li Loans Disbursed by Banks (TN RMB)
				canvas#chart_loan(width='400' height='260')
		div.two-right
			div.two-upper
				ul
					li Electricity Consumption (TN kW/h)
				canvas#chart_electricity(width='400' height='260')
			div.two-lower
				ul
					li Labor Force: 35%
				canvas#canvas2(width='400' height='260')
	div.slidenumber

section
	h2 China's Economic Achievements
	br
	div.contianer
		div.two-left
			div.two-upper
				ul
					li GDP
			div.two-lower
				ul
					li GDP per capita
		div.two-right
			div.two-upper
				ul
					li Income
			div.two-lower
				ul
					li 進出口貿易總額
	div.slidenumber

section
	h2 When "Miss World" No Longer Charming
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Four Trillion Yuan
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Local Fiscal Deficit
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Wealth Inequality
	br
	ul
		li 
		li 
	div.slidenumber
