section#challenges
	h1 Challenge & Policy
	br
	h3 Athena Ouyang
	div.slidenumber

section(data-state='spotlight')
	h2 Spotlight on China
	div.contianer
		div.two-left
			div.two-upper
				ul
					li Second largest economy
					ul
						li surpassed Japan in 2010
					li Ranked first in exports.
					li Ranked first in foreign exchange reserves.
					//-li second largest manufacturing country in the world.
			div.two-lower
				ul
					li Economic Growth Rate (%)
				canvas#world_growth(width='400' height='260')
		div.two-right
			div.two-upper
				ul
					li GDP World Ranking
					ul
						li Fourth in 2005
						li Third in 2008
						li Second in 2010
				canvas#blank(height='10')
			div.two-lower
				ul
					li(style='font-size:33px;') Foreign Exchange Reserves (TN)
				canvas#chart_reserves(width='400' height='260')
	div.source Source: CIA "The World Factbook"
	div.slidenumber

section(data-state='china_economy')
	h2 China's Economic Achievements
	div.contianer
		div.two-left
			div.two-upper
				ul
					li GDP (TN RMB)
				canvas#chart_GDP(width='400' height='260')
			div.two-lower
				ul
					li GDP Per Capita (K RMB)
				canvas#chart_PPP(width='400' height='260')
		div.two-right
			div.two-upper
				ul
					//-li Total Export-import Volume (TN RMB)
					li Export + Import (TN RMB)
				canvas#chart_export(width='400' height='260')
			div.two-lower
				ul
					//-li Urban Salary (K RMB)
					li Disposal Income (K RMB)
				canvas#chart_income(width='400' height='260')
	div.source Source: National Bureau of Statistics of China
	div.slidenumber

//-section(data-state='urban_salary')
//-	h2 When "Miss World" No Longer Charming
//-	div.contianer
//-		div.two-left
//-			div.two-upper
//-				ul
//-					li Urban Salary (K RMB)
//-				canvas#chart_salary(width='400' height='260')
//-				div.source Source: National Bureau of Statistics of China
//-			div.two-lower
//-				ul
//-					li What if Miss World (China) no longer charming?
//-					ul
//-						li – Kenichi Ohmae 2011
//-		div.two-right
//-			div.two-upper
//-				ul
					//-li Shanghai Stock Exchange A Share Index
//-					li Shanghai A Share Index
//-				canvas#chart_shanghai_index(width='400' height='260')
//-				div.source Source: Wind
//-			div.two-lower
//-				img(width='200' height='200' src='img/Kenichi_Ohmae_200.jpg' alt='Kenichi Ohmae' style='vertical-align: middle')
//-	div.slidenumber

section(data-state='challenges')
	h2 Challenges
	div.contianer
		div.two-left
			div.two-upper
				div Local Deficit (TN RMB)
				canvas#chart_local_finance(width='400' height='260')
				div.source Source: National Bureau of Statistics of China
			div.two-lower
				ul
					li Local Fiscal Deficit
					ul
						li 1994 Tax-sharing reform
						li Land finance
						li Compulsory acquisition
		div.two-right
			canvas#blank(height='40')
			img(width='500' height='405' src='img/China-Change-in-GDP_500x405.png' alt='Kenichi Ohmae' style='vertical-align: middle' class='fragment roll-in' data-fragment-index='1')
	div.slidenumber

section(data-state='miss_world')
	h2 When "Miss World" No Longer Charming
	div.contianer
		div.two-left
			div.two-upper
				ul
					li GDP Growth Rate (%)
				canvas#GDP_Q(width='500' height='260')
				//-div.source Source: National Bureau of Statistics of China
					//-li What if Miss World (China) no longer charming?
					//-ul
					//-	li – Kenichi Ohmae 2011
				//-canvas#blank(height='160')
			div.two-lower
				ul
					li Urban Salary (K RMB)
				canvas#chart_salary(width='400' height='260')
				div.source Source: National Bureau of Statistics of China
		div.two-right
			div.two-upper
				img(width='200' height='200' src='img/Kenichi_Ohmae_200.jpg' alt='Kenichi Ohmae' style='vertical-align: middle')
				canvas#blank(height='63')
				//-canvas#blank(width='400' height='50')
			div.two-lower
				//-ul
					//-li Shanghai Stock Exchange A Share Index
					//-li Shanghai A Share Index
				//-canvas#chart_shanghai_index(width='400' height='260')
				img(width='400' height='260' src='img/export_growth_400x260.png' alt='Kenichi Ohmae' style='vertical-align: middle')
				//-div.source Source: Wind
	div.slidenumber

section
	h2 Policies in 12th 5-Year Plan
	ul
		li From leverage-driven growth to reform-driven growth
	img(width='850' height='469' src='img/adjust_structure_850x469.png' alt='Kenichi Ohmae' style='vertical-align: middle')
	div.slidenumber
//-	ul
//-		li From leverage-driven growth to reform-driven growth
//-	ol
//-		li Adjusting the economic structure
//-		ul
//-			li An internal demand for higher external demand, consumption over investment, civil than government.
//-			li Improving income distribution system, so that the resulting population growth and economic growth can be synchronized.
//-		li Adjusting Regional structure
//-		ul
//-			li Great Western Development to improve economic development in the Midwest
//-			li Improve urbanization, solve rural problems (farmers, agriculture and rural)
//-		li Adjustment Industrial structure
//-		ul
//-			li Energy saving and environmental protection, information technology, medical biotechnology, new energy, new materials, electric vehicles, high-end equipment manufacturing.	