section#conclusion
	h1 Conclusion
	br
	h3 Deron Lai
	div.slidenumber

section
	h2 Investment
	br
	ul
		li 
		ul
			li 
			li 
	div.slidenumber

section
	h2 Environment Protection
	br
	ul
		li Air
		ul
			li 
		li Water
		ul
			li 碧水源 300070.SZ
			li 北控水務 0371.HK
			li 津膜科技 300334.SZ
	div.slidenumber

section
	h2 Infrastructure
	br
	ul
		li 公路
		li 鐵路
	div.slidenumber

section
	h2 Conclusion
	br
	ul
		li China's economic growth paradigm is changing.
		ul
			li Shift from investment stimulation and export-oriented to domestic demand.
			li Raising labor cost urges the shift.
		li Dealing with inequality is the main focus of 12th Five-Year Plan.
		ul
			li Might not seen as many growth potential as previous Five-Year Plan.
	div.slidenumber

section
	h2 Conclusion (Cont.)
	br
	ul
		li Suggest to invest on along the border and environment-friendly companies.
		ul
			li 碧水源 300070.SZ
			li 北控水務 0371.HK
			li 津膜科技 300334.SZ
	div.slidenumber
