section
	//-http://bl.ocks.org/dk8996/5538271
	//-http://dk8996.github.io/Gantt-Chart/
	//-link(rel='stylesheet', href='css/d3-style.css')
	link(rel='stylesheet', href='css/gantt-chart.css')
	//-h2 歷屆五年計劃
	h2 Five-Year Plans
	br
	div#gantt(color='white', background-color='white', fill='white', stroke='orange')
	div.slidenumber
	script(src='js/d3.v3.js')
	script(src='js/gantt-chart-d3v2.js')
	script(src='js/gantt-chart.js')

section(data-state='local_finance')
	h2 Local Government Finance (TN RMB)
	//-kilowatt-hour (kWh)
	//-canvas#chart_electricity(width='1100' height='550')
	canvas#chart_local_finance(width='850' height='530')
	div.source Source: National Bureau of Statistics of China
	//-div(style='text-align: left; font-size: 16px; font-family: Times New Roman, Times, serif;')
	//-	i Source: National Bureau of Statistics of China
	div.slidenumber
	//-aside.slidenumber

//-section(style='width: 1300px;')
//-http://ameyakarve.wordpress.com/2012/08/01/reveal-js-html5-based-slide-presentation-tool/
section(data-state='cargo')
	//-h2 Rail Transport of Goods (Million Tonnes)
	//-h2 Rail Freight Transport (MM Tonnes)
	//-h2 Railway Cargo Volume (MM Tonnes)
	h2 Railway Cargo Volume (BN Tonnes)
	//-http://www.chartjs.org/docs/
	//-canvas#chart_cargo(width='850' height='600')
	//-canvas#chart_cargo(width='1200' height='600' style='padding-left: 0; padding-right: 0; margin-left: auto; margin-right: auto; display: block;')
	//-canvas#chart_cargo(width='1000' height='600' margin-left='auto' margin-right='auto')
	//canvas#chart_cargo(width='1000' height='600')
	//-canvas#chart_cargo(width='1100' height='550')
	//-canvas#chart_cargo(width='1000' height='550')
	canvas#chart_cargo(width='850' height='530')
	div.source Source: National Bureau of Statistics of China
	div.slidenumber
//-section
//-	h2 Cargo2
//-	canvas#chart_cargo2(width='850' height='600')
//-	div.slidenumber

section(data-state='loan')
	//-h2 Loans Disbursed by Banks (Billion RMB)
	//-h2 Loans Disbursed by Banks (BN RMB)
	h2 Loans Disbursed by Banks (TN RMB)
	//-canvas#chart_loan(width='1100' height='550')
	//-canvas#chart_loan(width='1000' height='550')
	//-canvas#chart_loan(width='1050' height='550')
	canvas#chart_loan(width='850' height='530')
	div.source Source: National Bureau of Statistics of China
	div.slidenumber
	//-script(type='text/javascript').
		//-console.log(Reveal.getIndices());

section
	//-h2 Electricity Consumption (BN kW/h)
	h2 Electricity Consumption (TN kW/h)
	//-kilowatt-hour (kWh)
	//-canvas#chart_electricity(width='1100' height='550')
	canvas#chart_electricity(width='850' height='530')
	div.source Source: National Bureau of Statistics of China
	div.slidenumber
