section
	link(rel='stylesheet', href='css/d3-style.css')
	link(rel='stylesheet', href='css/gantt-chart.css')
	h2 歷屆五年計劃
	br
	div#gantt(color='white', background-color='white', fill='white', stroke='orange')
	div.slidenumber
	script(src='js/d3.v3.js')
	script(src='js/gantt-chart-d3v2.js')
	script(src='js/gantt-chart.js')