extends layout

block content
	div.reveal
		//- Any section element inside of this container is displayed as a slide
		div.slides
			section
				include cover
			section
				include outline
			section
				include challenges
			section
				include appendix
			section
				include gantt-d3
			section
				include agriculture
			section
				include QA131207
			//-section
			//-	include gantt-chart
			section
				include plan_01_5
			section
				include plan_06_5
			section
				include plan_07_5
			section
				include plan_08_5
			section
				include plan_09_5
			section
				include plan_10_5
			section
				include plan_11_5
			section
				include plan_12_5

			//-section#plan_13_5
			//-section
			//-	h2 習、李面對的困局與對策
			//-	div.slidenumber
			//-section#note

			section
				include urbanization
			section
				include tax

			//-section#financial_market

			//-section
			//-	h2 結論
			//-	div.slidenumber
			section
				include thank

			//-span.slidenumber
			//div.slidenumber
			//footer.slidenumber

	script(src='lib/js/head.min.js')
	script(src='js/Chart.js')
	//-script(src='js/reveal.min.js')
	script(src='js/don.js')
	//-script(src='js/jquery-2.0.3.min.js')
	//-script(src='js/d3.v3.js')
	//-script(src='js/gantt-chart-d3v2.js')
	//-script(src='js/gantt-chart.js')

	//-script(src='js/bootstrap.js')

	script(type='text/javascript').
		//- Full list of configuration options available here:
		//- https://github.com/hakimel/reveal.js#configuration
		Reveal.initialize({
			controls: true,
			progress: true,
			history: true,
			center: true,
			//width: 960,
			//height: 700,
			//width: 1300,
			//height: 700,
			//slidenumber: true,
			// Enable slide navigation via mouse wheel
			mouseWheel: true,
			// Apply a 3D roll to links on hover
			rollingLinks: true,

			theme: Reveal.getQueryHash().theme, // available themes are in /css/theme
			transition: Reveal.getQueryHash().transition || 'default', // default/cube/page/concave/zoom/linear/fade/none

			// Optional libraries used to extend on reveal.js
			dependencies: [
				{ src: 'lib/js/classList.js', condition: function() { return !document.body.classList; } },
				{ src: 'plugin/markdown/marked.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/markdown/markdown.js', condition: function() { return !!document.querySelector( '[data-markdown]' ); } },
				{ src: 'plugin/highlight/highlight.js', async: true, callback: function() { hljs.initHighlightingOnLoad(); } },
				{ src: 'plugin/zoom-js/zoom.js', async: true, condition: function() { return !!document.body.classList; } },
				{ src: 'plugin/notes/notes.js', async: true, condition: function() { return !!document.body.classList; } }
			]
		});
		Reveal.addEventListener('local_finance', function(event) {
			local_finance();
		});
		Reveal.addEventListener('cargo', function(event) {
			cargo();
		});
		Reveal.addEventListener('loan', function(event) {
			loan();
		});
		Reveal.addEventListener('electricity', function(event) {
			electricity();
		});
		Reveal.addEventListener('agriculture', function(event) {
			agriculcutureDoughnut();
		});
		Reveal.addEventListener('slidechanged', function(event) {
			//var slidenumber = event.currentSlide.querySelector('.slidenumber');
			//console.log(slidenumber.innerHTML);
			jQuery(".slide-number").text(currentPageFormatter(event));
			//console.log(slidenumber.firstChild);
			//-console.log(event.currentSlide);
			//-console.log(Reveal.getIndices());
			//-cargo2();
		});
		Reveal.addEventListener('ready', function(event) {
			markSlideNumber();
			//-$('<aside class="controls slide-number" style="display: block; left: 10px; right: initial; bottom: -30px; text-align: center;"></aside>')
			$('<aside class="controls slide-number" style="display: block; left: initial; right: 10px; bottom: -30px; text-align: center;"></aside>')
			.text(currentPageFormatter(event))
			.appendTo('.reveal.center');
		});
		//-Reveal.configure({ slideNumber: true });
