section
	h2 歷史回顧：六五之前
	br
	ul
		li 1953年推行中國第一個五年計劃
		li 1958年全民大辦鋼，全民大饑荒
		li 1966年文化大革命
		li 1976年結束文化大革命
	div.slidenumber

section
	h2 1953年中國第一個五年計劃
	br
	ul
		li 1929年西方經濟大蕭條，蘇聯(社會主義)推行五年計劃成績斐然。
		li 中國的第一個五年計劃，全盤採用了史達林主義的方式、措施和理論框架。
		li 五年計劃的總任務，就是要使中國由落後的農業國，逐步變為強大的工業國。
	div.slidenumber

section
	h2 文化大革命
	br
	ul
		li 1958年三面紅旗
		ul
			li 社會主義建設總路線、大躍進、人民公社。
		li 1966年文化大革命
		ul
			li 沒有內戰，沒有重大自然災害，卻死亡2000萬人，經濟損失14200億元。
	div.slidenumber

section
	h2 鄧小平
	br
	ul
		li 1976年結束文化大革命，三中全會恢復鄧小平在黨中職務。
		li 1978年鄧小平提出「解放思想，實事求是」。
		li 1980年鄧小平發表「關於農村政策問題」談話。
		li 六五計劃是改革開放後的第一個五年計劃。
	
	div.slidenumber