section
	h2 十一五規劃 (2006 - 2010)
	br
	center
		table
			tr
				td 隨著市場經濟的發展，由計畫向規劃轉變
				td
					img(width='100', height='120', src='img/2003_Hu.jpg', alt='胡錦濤', style='vertical-align: middle')
	br
	ul
		li 中國由計畫經濟向市場經濟轉變。規劃的特點就是從具體、微觀、指標性的產業發展計畫向宏觀的國家空間規劃轉化。 
		li 在中國改革開放發展思路中佔據了20多年的
			i 先富論
			，在十一五規劃中轉變為
			i 共同富裕
			的主調。
		li 2008 全球金融海嘯
	div.slidenumber
 
section
	h2 十一五規劃內容
	ul
		li 實現2010年人均國內生產總值比2000年翻一倍。 
		li 區域經濟發展 
		ul
			li 《關於促進中部地區崛起的若干意見》2006年4月 
			li 把中部建成糧食生產、能源材料、現代裝備製造及高技術產業的基地以及綜合交通運輸樞紐。 
			li 中部六省：河南、湖北、湖南、安徽、江西、山西 
		li 提高服務業在產業結構中的比重 
		ul
			li 《關於加快發展服務業的若干意見》2007年3月 
			li 到2010年，服務業增加值占國內生產總值的比重比2005年提高3%。 
			li 服務業從業人員占全社會從業人員的比重比2005年提高4%。服務貿易總額達到4000億美元。
	div.slidenumber
 
section
	h2 十一五規劃結果
	br
	ul
		li 社會生產力、綜合國力顯著提高：有效應對國際金融危機衝擊，保持經濟平穩較快發展。國內生產總值達到40.1萬億元，年均增長11.2%。
		li 載人航太、探月工程、超級電腦等前沿科技實現重大突破。 
		li 城鎮居民人均可支配收入和農村居民人均純收入年均分別實際增長9.7%和8.9%。
		li 改革開放取得重大進展：進出口貿易總額達到2.97萬億美元，開放型經濟水準快速提升。
		li 國際地位和影響力顯著提高：成功舉辦北京奧運會、上海世博會。 
	div.slidenumber
 
section
	h2 2008 全球金融海嘯
	br
	ul
		li 國務院於2008年11月通過擴大內需十項措施。 
		li 投資4萬億人民幣擴大內需,以應對金融海嘯的影響。 
		li 這4萬億元將用於改善居民廉租住房、醫療衛生改革、加快交通基建、地震災區重建、改善生態環境、提高城鄉居民收入等十個方面。
	div.slidenumber
 
section
	h2 十一五計劃總經數據
	img(width='900', height='512', src='img/11_5_Macro.png', alt='十一五計劃總經數據', style='vertical-align: middle')
	div(style='text-align: left')
		i Source: Wind Info 
	div.slidenumber