section
	h2 七五計劃 (1986 - 1990)
	br
	center
		table
			tr
				td 改革闖關，整頓治理。
				td
				td
					img(width='80' height='102' src='img/1987_Zhao.jpg' alt='趙紫陽' style='vertical-align: middle')
	ul
		li 歷史關鍵轉換時刻：經濟發展策略和經濟體制由計劃經濟轉為市場經濟。
		li 繼續建設有中國特色的社會主義，對內搞活經濟對外實行開放。
		li 此階段計畫以1988年為界，分為兩塊。
		ol
			li 1988前：經濟發展持續過熱。
			li 1988後：經濟治理整頓時期。
	div.slidenumber

section
	h2 七五計劃內容
	br
	ul
		li 基本任務
		ul
			li 奠定「有中國特色的新型社會主義」經濟體制的基礎。
			li 保持經濟的持續穩定增長。
			li 改善城鄉人民生活。
		li 經濟體質改革
		ul
			li 增強全民所有制的中大型企業活力：使企業擁有自主權並正確運用。
			li 發展社會主義商品市場，完善市場體系：使企業面對外部競爭後有所成長。
			li 國家對企業的管理逐步由直接管制轉向間接管制：使企業微觀經濟活動符合宏觀要求。(開放自主經營、自負盈虧，加入退場機制。)
	div.slidenumber

section
	h2 七五計劃結果
	br
	ul
		li 五年內全國工農業總產值增長38％，國民生產總值增長44％。
		li 經過普通高等學校和成人高等教育五年共培養500萬人。
		li 進出口貿易總額1990年比1985年增長40％，世界工廠之路開始成型。
		li 城鄉居民的實際消費水平五年增長27％。
		li 經濟體制轉向市場經濟，因實施價格雙軌制，致1988年秋發生嚴重通膨。
	div.slidenumber

section
	h2 七五計劃總經數據
	br
	div 經濟成長率及物價變動率
	img(width='604' height='349' src='img/7_5_CPI.png' alt='七五計劃總經數據' style='vertical-align: middle')
	div(style='text-align: left')
		i Source: 中國人民網「中國國民經濟計畫背景資料」
	div.slidenumber

section
	h2 七五計劃總經數據 II
	br
	div 中國歷年經濟力量的變化
	img(width='605' height='325' src='img/7_5_china_vs_world.png' alt='七五計劃總經數據 III' style='vertical-align: middle')
	div(style='text-align: left')
		i Source: 台灣經濟研究季刊2013秋季號
	div.slidenumber

//-section
//-	h2 七五計劃總經數據 II
//-	br
//-	div 價格自由化後雙軌價格的產品比重變遷
//-	img(width='406' height='293' src='img/7_5_market_price.png' alt='七五計劃總經數據 II' style='vertical-align: middle')
//-	div.slidenumber

//-section
//-	h2 七五計劃總經數據 III
//-	br
//-	div 中國歷年經濟力量的變化
//-	img(width='605' height='325' src='img/7_5_china_vs_world.png' alt='七五計劃總經數據 III' style='vertical-align: middle')
//-	div.slidenumber