section
	h1 China Q&A
	br
	br
	br
	div Athena Ouyang, Deron Lai,
	div Don Hsieh, Mia Chen, and Ming Lin
	br
	div 2013.12.07 Sat

section
	h2 Q1: 十二五規劃制定流程
	img(width='900', height='558', src='img/12_5_planning_flow.png', alt='十二五規劃制定流程', style='vertical-align: middle')
	div.slidenumber

section
	h2 Q2: 中國利率市場化改革
	ul
		li 始於1996年，先貨幣市場、債券市場利率市場化，而後本外幣存款、本幣貸款。
		li 債券市場(國債、金融債、企業債) 、貨幣市場(貼現)已初步完成市場化。
		li 貸款利率實施下限管理、存款利率實施上限管理。
		img(width='900', height='393', src='img/interest_reform.png', alt='中國利率市場化改革', style='vertical-align: middle')
	div.slidenumber

section
	h2 利率市場化對中國的影響	
	ul
		li 經濟結構調整與轉型
		ul
			li 利率市場化有助於維持存款利率，促進儲蓄增長。
			li 可將市場資金注入企業端，有利中小企業融資。
			li 增加存款收益率可提供居民消費力，擴大內需。
		li 加速人民幣國際化
		ul
			li 利率市場化反映資金的供需情況，確定實際基準利率的合理性。
			li 有助於中國境外人民幣計價金融產品的定價。
			li 平緩資本帳戶開放出現的套利活動，維護金融市場穩定。
		li 深化銀行業改革
		ul
			li 至2012為止，中國商業銀行的淨息差收入占利潤80%，且同業間的經營模式相似。
			li 利率市場化後，銀行業必須增強對產品定價和金融創新之能力，以因應更劇烈的競爭。
	div.slidenumber

section
	h2 利率市場化帶來的影響
	ul
		li 各國利率市場化後的情況
		ul
			li 短期存款利率上升：參考美、台、韓、港的改革經驗，利率市場化後的第1年後，存款利率攀升。
			li 利率市場化導致息差下降：參考台、日、韓的改革經驗，利率市場化後的1-3年後，存貸息差普遍下降。
		li 金融機構可能產生偏好改變
		ul
			li 短期內，銀行間競爭加劇，風險偏好上升，使金融機構投資相對高風險高受益的產品。
	img(width='900', height='258', src='img/interest_variation.png', alt='利率市場化帶來的影響', style='vertical-align: middle')
	div.slidenumber

section
	h2 Q3: 產能過剩
	br
	ul
		li 產能過剩的問題一直存在
		ul
			li 做大做強
			li 過度投資、補貼
			li 四萬億政策
		
		li 過去打消產能的成效不彰
		ul
			li 朱鎔基、溫家寶
			li 依靠控制和限制審批，產能過剩愈演愈烈。
			li 下崗
	div.slidenumber

section
	h2 Q3: 產能過剩 (Cont.)
	br
	ul
		li 《關於化解產能嚴重過剩矛盾的指導意見》
		ul
			li 國務院
		li 李克強
		ul
			li 依靠市場力量、金融措施。
			li 溫和漸進，注意失業問題。
	div.slidenumber

section
	h2 Q4: 中國的競奪
	br
	ul
		li 中國對國際資源市場運用三管齊下的手法
		ul
			li 資金轉移(資助學校、醫院的興建，出資興建鐵公路等基礎設施)
			li 國際貿易(購買硬性／軟性大宗商品)
			li 跨國投資(向外國政府提供貸款、購買外國債券)
		
		li 目的：取得大宗商品、基礎設施，及收購航運資產和運輸線路。
		li 地主國(多新興國家)的考量：需要基礎設施，經濟成長需要資金挹注。
		ul
	div.slidenumber

section
	h2 China, Inc 的全球佈局
	br
	ul
		li 2005年－中國企業聯想集團，以12.5億美元，買下IBM的PC部門。
		li 2007年－中國鋁業公司，以30億美元買下祕魯托洛莫丘山，以開採銅礦。
		li 2008年－中國遠洋運輸公司，以43億歐元買下世界第三大客運港－希臘比雷埃夫斯港兩座貨櫃碼頭的35年經營權。
		li 2009年－中國借俄羅斯石油公司250億美元，換取供給石油20年。
		li 2010年－中國對巴西投資達200億美元，用以興建煉鋼廠、電訊設施，以及近海油源的探勘和開採。
		li 2011年－中國成為美國國債最大的持有者！
	div.slidenumber

section
	h1 Appendix
	div.slidenumber

section
	h2 開放利率市場化的前置準備
	br
	ul
		li 需要平穩的總經環境
		ul
			li 如果總體經濟處於過熱時期，放開受管制利率會加速上升，高利率將使得資金配置到高風險專案，產生資產泡沫。
		li 資本帳戶開放需謹慎：如果提前或同步放開資本帳，則
		ol
			li 國際投機資本恐因套利而流入。
			li 國內借款人為節省成本而改借外債，加劇金融市場的波動性。
		li 完善配套措施
		ul
			li 利率市場化後的同業競爭過程中，可能會出現有少數經營不善、甚至還需要退出市場的金融機構。
			li 建立合理的存款保險制度是保證金融安全的重要制度保障。
	div.slidenumber

section
	h2 存款利率變化
	br
	img(width='900', height='258', src='img/interest_variation.png', alt='利率市場化帶來的影響', style='vertical-align: middle')
	div.slidenumber
