section
	h1 New Silk Road
	br
	h3 Ming Lin
	div.slidenumber

section
	h2(style='font-size:48px;') [Executive Summary] Golden mine in the desert: Xinjiang, the hub of New Silk Road Economic Belt
	ol
		li Argument 1
		ul
			li Xinjiang benefits from its border trading history with Central Asia and become the regional finance zone in silk road belt.
		li Argument 2
		ul
			li Urumqi and Kashi in Xinjiang are the major benefices from government plan.
		li Argument 3
		ul
			li To grow with Silk Road Belt future, local infrastructure transportation and finance firms are ideal investment target.
	div.slidenumber

section
	h2 Same road, but different thought: Silk Road Economic Belt is proposed to Central Asia from President Xi
	ul
		li 2013年9月上合組織13年峰會,習近平提出 “絲綢之路經濟帶”的倡議:推動中國和中亞各國在鐵路、公路、航空、電信、電網和能源管道等六大領域
		li Related cities:
		ul
			li 沿海:江蘇、浙江、福建、廣東
			li 內陸:廣西、雲南、四川、寧夏、四川、重慶、陝西、甘肅、寧夏、青海、新疆
	div.slidenumber

section
	h2 New Silk Road Economic Belt: Xinjiang, the main gate of China toward Central Asia
	div.contianer
		div.two-left
			div.two-upper
				ul 
					li Fig: Xinjiang bridges China and Middle Asia
			div.two-lower
				ul
					li Fig: Xinjiang as trading partner to Middle Asia
		div.two-right
			div.two-upper
				ul
					li Xinjiang is connected with Central Asia countries including Kazakhstan, Kyrgyzstan, Tajikistan, Pakistan, Afghanistan.
					li China becomes closer foreign trade partners for Central Asia Countries.
			div.two-lower
				ul
					li Fig: China and Kazakhstan close trading
	div.slidenumber

section
	h2 State Council of the People's Republic planned Kashi Economy zone plan for its location and L/T history since 2013.05
	ul
		li 
		li 
	div.slidenumber

section
	h2 With government fiscal and tax support, counterpart industries in Kashi is expected to grow again
	ul
		li 9 industries are listed with fiscal and tax subsidiary support in the plan.
		li Beneficiary industries such as manufacturer, transpiration, construction, leasing and financial industry already start its investment before the plan released.
	div.slidenumber

section
	h2 陸家嘴第二:打造喀什金貿區作為中亞、南亞區域性金融中心
	br
	ul
		li 成為中國西部的金融重鎮《喀什經濟開發區總體發展規劃》
		ul
			li 短期:發展與中國企業境外投資和貿易相匹配的人民幣出口信貸、貿易融資及結算體系。
			li 長期:建立健全金融組織體系和金融市場體系,逐步完善信貸、債券、外匯、保險、金融衍生品等市場的服務功能。
		li 影響:貿易流通性提升、跨境金融投資
		ul
			li 對內:引導各類金融機構在開發區設立分支機構,支持開發區企業發行企業債券
			li 對外:有條件的與周邊國家金融機構互設機構、互通業務往來帳戶。
	div.slidenumber

section
	h2 Why Kashi works better:XXX, XXX and XXX.
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Gold behind the dust: Potential investment target deserves us to watch
	br
	ul
		li 工程施工
		ul
			li 北新路橋 :公司為新疆規模最大的公路施工企業,近年來在保持疆內優勢、拓展新疆接壤國家海外業務的同時,積極佈局和深耕國內中西部省份市場
			li 新疆城建:新疆本地建築龍頭,受益于本地投資建設加速,房地產業務上商品房和保障房
		li 管道
		ul
			li 玉龍股份:行業內新增的油氣輸送焊管需求或將促使公司躋身骨幹供應商行列
		li 電力及電力設備
		ul
			li 天富熱電:天然氣業務增長迅速,為北疆地區最重要的民用天然氣供應商,13年建成20座天然氣加氣站,14年規劃20座。
		li 
	div.slidenumber

section
	h2 [Back-up] Economic Zone classfication
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 [Back-up] Risk of Xinjiang: Unstable Environment, but also a opportunity for 保安 industry
	br
	ul
		li 
		li 
	div.slidenumber
