section#silk
	h1 New Silk Road
	br
	h3 Ming Lin
	div.slidenumber

section
	h2 Same road, but different thought: Silk Road Economic Belt is proposed to Central Asia from President Xi
	ul
		li SCO summits(2013 Sep), President Xi proposed to build a Silk Road economic belt to boost cooperation in energy, traffic and telecom fields.
		li Related regions:
		ul
			li Coastal: Jiangsu, Zhejiang, Fujian, and Guangdong
			li Inland: Xinjiang, Guangxi, Yunnan, Sichuan, Ningxia, Chongqing, Shaanxi, Gansu, and Qinghai
	div.slidenumber

section
	h2 New Silk Road Economic Belt: Xinjiang, the main gate of China toward Central Asia
	ul
		li China are closer foreign trade partners for Central Asia Countries.
		li Xinjiang is connected with Central Asia countries including Kazakhstan, Kyrgyzstan, Tajikistan, Pakistan, Afghanistan.
		li Takes Kazakhstan as example, 51% trading between China and Kazakhstan happened in Xinjiang.
	div.slidenumber

section
	h2 With location strength, Kashi has trade surplus, balance industry structure, and 20% CAGR in GDP per cap
	div.slidenumber

section
	h2 With Kashi Economy zone plan support, more FAI pour into beneficiary industries
	ul
		li State Council of the People's Republic planned Kashi Economy zone plan for its location and L/T history since 2013.05
		li 9 industries are listed with fiscal and tax subsidiary support in the plan.
		li Beneficiary industries such as manufacturer, transpiration, construction, leasing and financial industry already start its investment before the plan released.
	div.slidenumber

section
	h2 West Lujiazui: Build up Kashi Finance Zone as regional finance HQ in Central and South Asia 
	ul
		li Aim at west Lujiazui, Central and South Asia financial area
		ul
			li S/T: Develop RMB Export Credit, Trade Finance and settlement system
			li L/T: Build up financial system , provide loan, bond, FX, insurance and derivative service step by step.
		li Impact: facilitate Cross-border trade and finance service
		ul
			li Domestic:  attract more financial institute setting up branch, assistant companies within the zone to IPO
			li Oversea: set up branch to surrounding Central Asia countries mutually
	div.slidenumber
