section
	h1 New Silk Road
	br
	h3 Ming Lin
	div.slidenumber

section
	h2 [Executive Summary] Golden mine in the desert: Xinjiang, the hub of New Silk Road Economic Belt
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Same road, but different thought: Silk Road Economic Belt is proposed to Central Asia from President Xi
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 New Silk Road Economic Belt: Xinjiang, the main gate of China toward Central Asia
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Different positioning cities: Urumqi as regional HQ and Kashi as 陆家嘴 No.2
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 陆家嘴第二：打造喀什金贸区作为中亚、南亚区域性金融中心
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Why Kashi works better:XXX, XXX and XXX.
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 Gold behind the dust: Potential investment target deserves us to watch
	br
	ul
		li 
		li 
	div.slidenumber

section
	h2 [Back-up]Risk of Xinjiang: Unstable Environment, but also a opportunity for 保安 industry
	br
	ul
		li 
		li 
	div.slidenumber
