section#silk
	h1 New Silk Road
	br
	h3 Ming Lin

section
	h2(style='font-size:52px;') Same road, but different thought: Silk Road Economic Belt is proposed to Central Asia from President Xi
	ul
		li(style='font-size:30px;') SCO summits(2013 Sep), President Xi proposed to build a Silk Road economic belt to boost cooperation in energy, traffic and telecom fields.
		li(style='font-size:30px;') Related regions:
		ul
			li(style='font-size:24px;') Coastal: Jiangsu, Zhejiang, Fujian, and Guangdong
			li(style='font-size:24px;') Inland: Xinjiang, Guangxi, Yunnan, Sichuan, Ningxia, Chongqing, Shaanxi, Gansu, and Qinghai
		img(width='850' height='312' src='img/related_cities_850x312.png' alt='Related Cities')
	div.slidenumber

section
	h2(style='font-size:60px;') New Silk Road Economic Belt: Xinjiang, the main gate of China toward Central Asia
	ul
		li(style='font-size:30px;') China are closer foreign trade partners for Central Asia Countries.
		li(style='font-size:30px;') Xinjiang is connected with Central Asia countries including Kazakhstan, Kyrgyzstan, Tajikistan, Pakistan, Afghanistan.
		li(style='font-size:30px;') Takes Kazakhstan as example, 51% trading between China and Kazakhstan happened in Xinjiang.
		img(width='850' height='287' src='img/xinjiang_bridge_850_287.png' alt='Xinjiang Bridge')
	div.slidenumber

section
	h2(style='font-size:52px;') With location strength, Kashi has trade surplus, balance industry structure, and 20% CAGR in GDP per cap
	img(width='850' height='518' src='img/kashi_map_850x518.png' alt='Kashi Map')
	div.slidenumber

section
	h2(style='font-size:60px;') With Kashi Economy zone plan support, more FAI pour into beneficiary industries
	ul
		li(style='font-size:30px;') State Council of the People's Republic planned Kashi Economy zone plan for its location and L/T history since 2013.05
		li(style='font-size:30px;') 9 industries are listed with fiscal and tax subsidiary support in the plan.
		li(style='font-size:30px;') Beneficiary industries such as manufacturer, transpiration, construction, leasing and financial industry already start its investment before the plan released.
	img(width='850' height='296' src='img/kashi_zone_850x296.png' alt='Kashi Zone')
	div.slidenumber

section
	h2(style='font-size:48px;') West Lujiazui: Build up Kashi Finance Zone as regional finance HQ in Central and South Asia 
	img(width='850' height='607' src='img/finance_hq_850x607.png' alt='Finance HQ')
	div.slidenumber
//-	ul
//-		li(style='font-size:30px;') Aim at west Lujiazui, Central and South Asia financial area
//-		ul
//-			li(style='font-size:24px;') S/T: Develop RMB Export Credit, Trade Finance and settlement system
//-			li(style='font-size:24px;') L/T: Build up financial system , provide loan, bond, FX, insurance and derivative service step by step.
//-		li(style='font-size:30px;') Impact: facilitate Cross-border trade and finance service
//-		ul
//-			li(style='font-size:24px;') Domestic:  attract more financial institute setting up branch, assistant companies within the zone to IPO
//-			li(style='font-size:24px;') Oversea: set up branch to surrounding Central Asia countries mutually
