section
	h2 分稅制的問題
	br
	img(width='654', height='392', src='img/tax_china.jpg', alt='大陸分稅制問題', style='vertical-align: middle')
	div.slidenumber

section
	h2 新一輪財稅改革
	br
	ul
		li 土地財政的弊端
		ul
			li 農地轉用的土地資源有限。
			li 地價與房價的居高不下。
		li 十八屆三中全改革「地方稅」體系
		ul
			li 資源稅
			li 房產稅
		li 房地產稅 vs. 房產稅
		ul
			li 房地產稅：12種稅，含土地出讓金、土地稅、土地使用稅、交易稅、營業稅、所得稅、印花稅等。
			li 房產稅：財產稅性質。
	div.slidenumber

section
	h2 房產稅推行
	ul
		li 建立不動產登記制。
		li 擴大房產稅試點範圍：一、二線城市。
	img(width='750', height='486', src='img/tax_house.png', alt='房產稅推行', style='vertical-align: middle')
	div.slidenumber

section
	h2 房產稅開徵的影響
	br
	ul
		li 影響房地產市場的熱度
		ul
			li 滿足自住需要的剛性需求。
			li 投資投機的非剛性需求。
			li 剛性需求 vs. 彈性需求
		li 中國今後十年內的新城鎮化變革
		ul
			li 房地產稅與房產稅是魚與熊掌的關係
	div.slidenumber

section
	h2 宏觀論財稅改革的難題
	img(width='750', height='572', src='img/tax_trinity.png', alt='宏觀論財稅改革的難題', style='vertical-align: middle')
	div.slidenumber