section
	h1 Urbanization
	br
	h3 Don Hsieh
	div.slidenumber

section
	h2 Urbanization in China
	br
	ul
		li 李克強三月上任主推
		li 
	div.slidenumber

section
	h2 Myth of Urbanization Rate
	br
	ul
		li Urbanization is not equal to economic growth
		ul
			li Brazil, Mexico urbanization failed
			li 空城、貧民窟、趕農民上樓
		li Hukou
		li The key is urban hukou rate (35%), not urbanization rate (52%).
	div.slidenumber

section
	h2 Case Study: Southern Jiangsu
	br
	ul
		li 江蘇淮河以南，這邊有很多中小城市
		ul
			li 小城鎮帶發展出自己的加工業
			li 城鎮化需要有產業來帶動
			li 哪些區域還會形成城鎮帶？
		li 
	div.slidenumber

section
	h2 Urbanization (Cont.)
	br
	ul
		li 上海 vs. 北京
		li 研究德國的案例，為何形成很多衛星城。
	div.slidenumber

section
	h2 The Hukou System
	br
	ul
		li Divided population into two types of households: <i>rural</i> and <i>urban</i>
		li Basically an <i>internal passport system</i>
		li Differential treatments of rural and urban residents
		ul
			li the system serves as a benefit eligibility system; a tool of institutional exclusion than controlling geographical mobility
	div.slidenumber
