section
	h2 城鎮化
	img(width='900', height='475', src='img/mumbai.jpg', alt='城鎮化', style='vertical-align: middle')
	div.slidenumber

section
	h2 城鎮化的三種變遷
	br
	ul
		li 人口向城鎮聚集、城鎮規模擴大以及由此引起一系列經濟社會變化的過程。
	ol
		li 經濟結構變遷：農業活動向非農業轉化和產業結構升級。
		li 社會結構變遷：農村人口轉變為城鎮人口以及城鎮文化、生活方式和價值觀向農村擴散。
		li 空間結構變遷：各種生產要素和產業活動向城鎮地區聚集以及聚集後的再分散。
	div.slidenumber

section
	h2 總理李克強主推城鎮化
	br
	ul
		//-li 中國經濟發展的癥結在於長期過度投資，形成產能過剩。
		li 動機：總理李克強主推
		li 李克強主政河南時，力推城鎮化。
		li 河南的城鎮化率原本是全中國的倒數第二，僅高於西藏。
		li 河南省會<i>鄭州</i>腹地太小，李克強親自規劃<i>鄭東新區</i>。
		li 從河南的發展軌跡看全中國的城鎮化趨勢。
	div.slidenumber

//-section
//-	h2 城鎮化：十大城市群
//-	br
//-	div 十大城市群
//-	div.slidenumber

section
	h2 城鎮化：衍生議題
	br
	ul
		li 推行受阻：中央與地方想要的不一致。
		li 拉力與推力
		li 城市病
		li 城鄉二元體制戶籍制度改革
		li 戶籍制度改革	
	div.slidenumber

section
	h2 戶籍制度
	br
	img(width='350', height='263', src='img/hu_kou.jpg', alt='戶口簿', style='vertical-align: middle')
	//-div 戶籍制度是管理人口的工具，自古有之。
	div.slidenumber

section
	h2 投資標的
	br
	ul
		li 房地產
		ul
			li 招保萬金
			ul
				li 招商地產、保利地產、萬科地產、金地地產。
			li 中國建築集團 3311.HK
		li 基礎建設
		ul
			li 中國北車 601299.SH
			li 中國南車 601766.SH, 1766.HK
		li 污水處理
		ul
			li 碧水源 300070.SZ
			li 北控水務 0371.HK
			li 津膜科技 300334.SZ
	div.slidenumber