section#urbanization
	h1 Urbanization
	br
	h3 Don Hsieh
	div.slidenumber

section(data-state='income_gap')
	h2 From World Factory to World Market
	div.contianer
		div.two-left
			div.two-upper
				ul
					li(style='font-size:30px;') Urban-Rural Income Gap (K RMB)
				canvas#income_gap(width='400' height='260')
				div.source Source: National Bureau of Statistics of China
			div.two-lower
				//-ul
				//-	li Migration Flows, 2000 - 2005
				img(width='289' height='260' src='img/Migration_Flows_289x260.jpg' alt='Migration Flows' style='vertical-align: middle')
				div.source Source: SC and NBS (2007)
		div.two-right
			div.two-upper
				br
				img(width='250' height='250' src='img/Li_Keqiang_250.jpg' alt='Li Keqiang' style='vertical-align: middle')
				canvas#blank(height='0')
			div.two-lower
				ul
					li Problems
					ul
						li Inflow: pollution, energy consumption, social welfare, traffic congestion
						li Outflow: rural hollowing
	div.slidenumber

section(data-state='urbanization_rate')
	//-h2 Urbanization in China
	h2 Myth of Urbanization Rate
	div.contianer
		div.two-left
			div.two-upper
				ul
					li Urbanization Rate (%)
				canvas#chart_urbanization(width='400' height='260')
				div.source Source: National Bureau of Statistics of China
			div.two-lower
				ul
					li Negative Examples
					ul
						li Brazil (87%)
						li Mexico (78%)
						li Ordos City
		div.two-right
			div.two-upper
				ul
					li Urbanization is the process of increasing urban population.
					li Cause and Effect?
					ul
						li Urbanization
						li Economic growth
				canvas#blank(height='85')
			div.two-lower
				ul
					li Dimensions of Urbanization
					ul
						li Land issue
						li Hukou issue
						li Employment issue
	div.slidenumber

section
	h2 The Hukou System
	img(width='350', height='263', src='img/hu_kou.jpg', alt='戶口簿', style='vertical-align: middle')
	div.contianer
		div.two-left
			ul
				li Formally set up in 1958.
				li Divided population into two types of households: <i>rural</i> and <i>urban</i>
				li Urban hukou rate is 35%.
		div.two-right
			ul
				li Differential treatments of rural and urban residents
				ul
					li a benefit eligibility system
					li rather than geographical mobility control
				//-li The key is urban hukou rate (35%), not urbanization rate (52%).
	div.slidenumber

section(data-state='jiangsu')
	h2 Case Study: Southern Jiangsu
	div.contianer
		div.two-left
			br
			img(width='400' height='522' src='img/Map-of-Jiangsu_400x522.jpg' alt='Li Keqiang' style='vertical-align: middle')
		div.two-right
			div.two-upper
				ul
					li(style='font-size:33px;') Jiangsu Occupies Half of Top 10
				canvas#small_cities(width='400' height='260')
				div.source Source: Chinese Academy of Social Sciences
			div.two-lower
				ul
					li Good Location
					li Well-established agriculture
					li Light manufacturing
					li Township enterprise
					li Economic of scale
					li City Clusters
	div.slidenumber

section
	h2 Summary for Urbanization
	br
	ul
		li Income inequality drives migration flow.
		li The key is urban hukou rate (35%)
		ul
			li not urbanization rate (52%).
		li Develop city clusters, not mega city.
		ul
			li to avoid dense population and bring regional prosperity.
		li Township enterprise and light manufacturing are pillars for small cities.
		li Pollution prevention is a good business.
	div.slidenumber
