section#urbanization
	h1 Urbanization
	br
	h3 Don Hsieh
	div.slidenumber

section
	h2 Temp
	br
	ul
		li Regional development
		li Cities belt
		li 輻射式
		li Urbanization
		ul
			li land
			li hukou
			li employment
	div.slidenumber

section(data-state='urbanization')
	h2 Urbanization in China
	div.contianer
		div.two-left
			div.two-upper
				ul
					li 李克強三月上任主推
					li 
			div.two-lower
				ul
					li Jiangsu Occupies Half of Top 10
				canvas#small_cities(width='400' height='260')
				div.source Source: Chinese Academy of Social Sciences
		div.two-right
			div.two-upper
				ul
					li Urbanization Rate (%)
				canvas#chart_urbanization(width='400' height='260')
				div.source Source: National Bureau of Statistics of China
			div.two-lower
				ul
					//-li Shanghai Stock Exchange A Share Index
					li Shanghai A Share Index
				//-canvas#chart_shanghai_index(width='400' height='260')
				div.source Source: Wind
	div.slidenumber

section
	h2 Myth of Urbanization Rate
	br
	ul
		li Urbanization is not equal to economic growth
		ul
			li Brazil, Mexico urbanization failed
			li 空城、貧民窟、趕農民上樓
		li Hukou
		li The key is urban hukou rate (35%), not urbanization rate (52%).
	div.slidenumber

section
	h2 Case Study: Southern Jiangsu
	br
	ul
		li 江蘇淮河以南，這邊有很多中小城市
		ul
			li 小城鎮帶發展出自己的加工業
			li 城鎮化需要有產業來帶動
			li 哪些區域還會形成城鎮帶？
		li 
	div.slidenumber

section
	h2 Urbanization (Cont.)
	br
	ul
		li 上海 vs. 北京
		li 研究德國的案例，為何形成很多衛星城。
	div.slidenumber

section
	h2 The Hukou System
	br
	ul
		li Divided population into two types of households: <i>rural</i> and <i>urban</i>
		li Basically an <i>internal passport system</i>
		li Differential treatments of rural and urban residents
		ul
			li the system serves as a benefit eligibility system; a tool of institutional exclusion than controlling geographical mobility
	div.slidenumber

section
	h2(style='font-size:72px;') China Monthly Minimum Wage Allocation Map
	br
	ul
		li 
	div.slidenumber

section
	//-h2 Top 100 Small and Medium-sized Cities in China in 2013
	h2 Top 50 Small and Medium-sized Cities in China in 2013
	center
	table(style='width:880px; margin: 10px auto;')
		tr(style='font-size:24px;')
			td 1
			td 江蘇崑山市
			td 11
			td 浙江義烏市
			td 21
			td 福建石獅市
			td 31
			td 福建福清市
			td 41
			td 山東新泰市
		tr(style='font-size:24px;')
			td 2
			td 江蘇江陰市
			td 12
			td 浙江餘姚市
			td 22
			td 浙江樂清市
			td 32
			td 遼寧莊河市
			td 42
			td 浙江德清縣
		tr(style='font-size:24px;')
			td 3 
			td(style='font-size:22px;') 江蘇張家港市
			td 13
			td 廣東增城市
			td 23
			td 江蘇丹陽市
			td 33
			td 江蘇海安縣
			td 43
			td 浙江溫嶺市
		tr(style='font-size:24px;')
			td 4
			td 江蘇太倉市
			td 14
			td 山東龍口市
			td 24
			td 浙江富陽市
			td 34
			td 福建南安市
			td 44
			td 江蘇啟東市
		tr(style='font-size:24px;')
			td 5
			td 浙江慈溪市
			td 15
			td(style='font-size:20px;') 內蒙古准格爾旗
			td 25
			td 浙江瑞安市
			td 35
			td 山東萊西市
			td 45
			td 浙江長興縣
		tr(style='font-size:24px;')
			td 6
			td 江蘇宜興市
			td 16
			td 山東榮成市
			td 26
			td 江蘇揚中市
			td 36
			td 福建惠安縣
			td 46
			td 四川郫縣
		tr(style='font-size:24px;')
			td 7
			td 福建晉江市
			td 17
			td 山東鄒平縣
			td 27
			td 浙江海寧市
			td 37
			td 山東萊州市
			td 47
			td 河南義馬市
		tr(style='font-size:24px;')
			td 8
			td 湖南長沙縣
			td 18
			td 浙江諸暨市
			td 28
			td 山東壽光市
			td 38
			td(style='font-size:22px;') 黑龍江肇東市
			td 48
			td 山東肥城市
		tr(style='font-size:24px;')
			td 9
			td 四川雙流縣
			td 19
			td 河北遷安市
			td 29
			td 山東滕州市
			td 39
			td 山東招遠市
			td 49
			td 河南新鄭市
		tr(style='font-size:24px;')
			td 10
			td 遼寧海城市
			td 20
			td(style='font-size:22px;') 遼寧瓦房店市
			td 30
			td 浙江玉環縣
			td 40
			td 江蘇如皋市
			td 50
			td(style='font-size:22px;') 遼寧大石橋市
	div.source Source: Chinese Academy of Social Sciences
	div.slidenumber
